/*
* === COLORS ===
*/
[data-theme="light"] {
    --app-background-color: #FCFAF6;
    --app-secondary-background-color: white;
    --primary: rgb(44, 44, 44);
}

[data-theme="dark"] {
    --app-background-color: #093050;
    --app-secondary-background-color: #094f88;
    --primary: #FFFFFF
}

[data-theme="sepia"] {
    --app-background-color: #F1E7D0;
}

/*
* === STYLES ===
*/
body{
  background-color: var(--app-background-color);
}