/*
* === COLORS ===
*/
[data-theme="light"] {
    --app-background-color: #F1E7D0;
    --app-secondary-background-color: rgb(245, 245, 245);
    --primary: rgb(44, 44, 44);
}

[data-theme="dark"] {
    --app-background-color: #091A28;
    --primary: #FFFFFF
}

[data-theme="sepia"] {
    --app-background-color: #F1E7D0;
}

/*
* === STYLES ===
*/
body{
  background-color: var(--app-background-color);
}