/*
* === COLORS ===
*/
[data-theme="light"] {
    --app-background-color: #FFFFFF;
    --primary: rgb(44, 44, 44);
}

[data-theme="dark"] {
    --app-background-color: #091A28;
    --primary: #FFFFFF
}

[data-theme="sepia"] {
    --app-background-color: #F1E7D0;
}

/*
* === STYLES ===
*/
.app-background {
  background-color: var(--app-background-color);
}