/*
  A set of reusable css utility classes 
*/

// 58 bytes of css to look great nearly everywhere
// https://jrl.ninja/etc/1/
.space {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

// helper vertically align items
.stack {
  display: flex;
  flex-direction: column;
}

// horizontally align items
.line {
  display: flex;
  align-items: center;
}

.rnd-corner-a {
  border-radius: 0px 15px 0px 15px;
  border: none;
}

.rnd-corner-b {
  border-radius: 15px 0px 15px 0px;
  border: none;
}
